<h1><%= @places.each do |place| %></h1>
    <div>
        <h1><%= places.name %></h1><br />
        <i><%= places.address %></i><br />
        <p><%= places.description %></p><br />
    </div>

    <% end %>